.p1 {
  color: lightsteelblue;
  animation-delay: 200ms;
}

.p2 {
  animation-delay: 400ms;
}

.p3 {
  animation-delay: 600ms;
}

.p4 {
  color: lightsteelblue;
  animation-delay: 1.5s;
}

.container {
  background: rgb(0, 29, 58);
  padding-top: 70px;
  color: white;
  height: 70vh;
}
